[submodule "PluginCore"]
	path = PluginCore
	url = https://github.com/MakesYT/PluginCore.git
[submodule "PlugCleanTool"]
	path = PlugCleanTool
	url = https://github.com/MakesYT/PlugCleanTool.git
[submodule "KitopiaWeb"]
	path = KitopiaWeb
	url = https://github.com/MakesYT/KitopiaWeb
