[submodule "PluginCore"]
	path = PluginCore
	url = https://github.com/MakesYT/PluginCore.git
[submodule "KitopiaWeb"]
	path = KitopiaWeb
	url = https://github.com/MakesYT/KitopiaWeb
[submodule "NodifyM.Avalonia"]
	path = NodifyM.Avalonia
	url = https://github.com/MakesYT/NodifyM.Avalonia/
[submodule "PinyinM.NET"]
	path = PinyinM.NET
	url = https://github.com/MakesYT/Pinyin.NET
[submodule "Semi.Avalonia"]
	path = Semi.Avalonia
	url = https://github.com/MakesYT/Semi.Avalonia.git
	branch = expander
