[submodule "PluginCore"]
	path = PluginCore
	url = https://github.com/MakesYT/PluginCore.git
[submodule "PlugCleanTool"]
	path = PlugCleanTool
	url = https://github.com/MakesYT/PlugCleanTool.git
[submodule "KitopiaWeb"]
	path = KitopiaWeb
	url = https://github.com/MakesYT/KitopiaWeb
[submodule "NodifyM.Avalonia"]
	path = NodifyM.Avalonia
	url = https://github.com/MakesYT/NodifyM.Avalonia/
[submodule "DesktopNotifications"]
	path = DesktopNotifications
	url = https://github.com/pr8x/DesktopNotifications
[submodule "ScreenCapture.NET"]
	path = ScreenCapture.NET
	url = https://github.com/MakesYT/ScreenCapture.NET.git
[submodule "PinyinM.NET"]
	path = PinyinM.NET
	url = https://github.com/MakesYT/Pinyin.NET
